body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    background-image: url(../images/therockers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*main img {*/
/*    width: 80%;*/
/*}*/

/*main article img{*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/