.bg{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    background-image: url(../images/therockers.jpg);
    /* Full height */
    height: 850px;

    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
